.container {
    text-align: center;
    font-family: sans-serif;
}

.img-container {
    margin: 50px 10px 50px ;
    position: relative;
}

.img-container .item {
    display: inline-block;
    position: relative;
}

.img-container .item img {
    width: 150px;
    height: 150px;
    border: 1px solid black;

}
 
.img-container .item .item_clickCount {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
}

.buttons {
    display: block;
    justify-content: center;
    margin-bottom: 20px;
}

.buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

